[Desktop Entry]
Name=SoapUI
GenericName=SoapUI by SmartBear
Exec=/usr/local/bin/soapui
Terminal=false
Icon=/opt/soapui/soapui-fav.png
Type=Application
Categories=Development;IDE;
Version=5.4.0
